{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login | DHS</title>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link
        href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/themify-icons/themify-icons.min.css">
    <link href="/static/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="/static/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="/static/assets/css/plugins.css">
    <link rel="stylesheet" href="/static/assets/css/themes/theme-1.css" id="skin_color" />
</head>

<body class="login">
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo margin-top-30">
                <h2 style='text-align:center' ;> DHS Login</h2>
            </div>

            <div class="box-login">
                <form action="{% url 'account_login' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>
                            Sign in to your account
                        </legend>
                        <p>
                            Please enter your username and password to log in.<br />
                            <span style="color:red;">

                            </span>
                        </p>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-group">
                            <span class="input-icon">
                                {% render_field form.login class="form-control" %}
                                <i class="fa fa-user"></i> </span>
                        </div>
                        <div class="form-group form-actions">
                            <span class="input-icon">
                                {% render_field form.password class="form-control password" %}
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}

                        <div class="form-actions">

                            <button type="submit" class="btn btn-primary pull-left" name="submit">
                                <i class="fa fa-user"></i> Login
                            </button>



                        </div>
                        <div class="new-account">
                            Don't have an account yet?
                            <a href="{% url 'account_signup' %}">
                                Create an account
                            </a>
                        </div>
                        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </fieldset>
                </form>

                <div class="copyright">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase">-DHS </span>.
                    <span>All rights reserved</span>
                </div>

            </div>

        </div>
    </div>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/modernizr/modernizr.js"></script>
    <script src="/static/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/vendor/switchery/switchery.min.js"></script>
    <script src="/static/vendor/jquery-validation/jquery.validate.min.js"></script>

    <script src="/static/assets/js/main.js"></script>

    <script src="/static/assets/js/login.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            Login.init();
        });
    </script>

</body>
<!-- end: BODY -->

</html>