<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">About Us</h5>
                    <h1 class="display-5 mb-0">Your best partner in healthcare services</h1>
                </div>
                <h4 class="text-body fst-italic mb-4"></h4>
                <p class="mb-4" style='text-align:left' ;>Digital Healthline Solutions (DHS) is a social enterprise
                    based in Rwanda which targets members of
                    the community with provision of readily access to services related to surveillance, guidance, and
                    treatment throughout the journey to improve quality of care utilizing digital technology incentives.
                </p>
                <p>Digital Healthline Solutions offers Channel network of Non-Communicable Diseases (NCDs)
                    patients, Champions, patient's advocates, health care professionals, Health Educators, public and
                    private health institutions; with strong dedication to act on NCDs, enhance patient education and
                    compliance to treatment plans.</p>
                <h1>Our Mission</h1>
                <p>We strive for Patient Health boosting and a world free of non-communicable diseases.</p>
                <h1>Our Vission</h1>
                <p>To offer best digital health services in delivery of high-quality healthcare management solutions for
                    patients and improving the safety of patient care.</p>
                <h1>Our Values</h1>
                <p>Our Values related on the better services we provide we do it professional, Empathy and Humility and
                    Trustworthy, We prioritize professional skills, great compassion towards our clients and
                    confidentiality in our field of work.</p>


                <div class="row g-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Medication Surveillance
                        </h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Health Educator</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Appointments Request</h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Trackers</h5>
                    </div>
                </div>
                <a href="appointment.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                    data-wow-delay="0.6s">Register with us</a>
                <a href="appointment.html" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
                    data-wow-delay="0.6s">Request Appointment</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="/static/img/doc4.jpeg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->